@import url('https://fonts.googleapis.com/css?family=Knewave');

*{
    background-color: black;
    padding: 0;
    margin: 0;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "header header header"
    "redsnake game bluesnake";
    padding: 0;
}
#header{
    color: white;
    font-family: 'Knewave', cursive;
    font-size: 60px;
    border: black 10px solid;
    text-align: center;
    grid-area: header;
    margin: 0 auto;
}
#menu{
    color: white;
    font-family: 'Knewave' ,cursive;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 80px;
    right: 165px;
    width: 100px;
    height: auto;
    border: 3px solid white;
}
#redsnake{
    border: red 10px solid;
    grid-area: redsnake;
    margin: 0 auto;
}
#game{
    border: green 10px solid;
    grid-area: game;
    margin: 0 auto;
}
#bluesnake{
    border: blue 10px solid;
    grid-area: bluesnake;
    margin: 0 auto;
}

